<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>476107969503-32ecjdb4j1gbme11cj8v7hkomlkfiidm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.476107969503-32ecjdb4j1gbme11cj8v7hkomlkfiidm</string>
	<key>API_KEY</key>
	<string>AIzaSyC9tNiNN6F__gLQLOcQ3Ab1gjPxmXWo72o</string>
	<key>GCM_SENDER_ID</key>
	<string>476107969503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seabjackson.firebase.udacity.friendlychat</string>
	<key>PROJECT_ID</key>
	<string>friendly-chat-29c49</string>
	<key>STORAGE_BUCKET</key>
	<string>friendly-chat-29c49.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:476107969503:ios:401a57e05d74b48a</string>
	<key>DATABASE_URL</key>
	<string>https://friendly-chat-29c49.firebaseio.com</string>
</dict>
</plist>